
div.form-group > * {
    margin-bottom: 10px; /* adds 10 pixels of margin below each child element within the div with the class form-group */
}

div.form-group > :last-child {
    margin-bottom: 0; /* removes the bottom margin from the last child element within the div with the class form-group */
}
input[type="radio"]{margin: 0 10px 0 0;}